<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Fangame_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Fangame_Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Fangame_Manager.Properties.Settings>
            <setting name="startScriptFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="stopScriptFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="autoFire" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recentGamesMax" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="oldWidth" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="foldernameForCompleted" serializeAs="String">
                <value>Completed</value>
            </setting>
            <setting name="foldernameForArchives" serializeAs="String">
                <value>Zips</value>
            </setting>
            <setting name="extractProgramFilename" serializeAs="String">
                <value>C:\Program Files\7-Zip\7z.exe</value>
            </setting>
            <setting name="deleteArchivesOnExtract" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startAutoScriptOnAppStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extractArchivesOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="openStatsOnGameStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startAutoScriptOnGameStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="openStatsOnAppStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spreadSheetnameForGoogle" serializeAs="String">
                <value>Completed Fangames</value>
            </setting>
            <setting name="startRowForSheet" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="startColumnForSheet" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="driveSheetInsertOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideStatsOnGameExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showAddCurrentCompletedButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="statsWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="moveCompletedGamesAway" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="oldPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Fangame_Manager.Properties.Settings>
        <Fangame_Helper.Properties.Settings>
            <setting name="startScriptFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="stopScriptFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="autoFire" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recentGamesMax" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="oldWidth" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="foldernameForCompleted" serializeAs="String">
                <value>Completed</value>
            </setting>
            <setting name="foldernameForArchives" serializeAs="String">
                <value>Zips</value>
            </setting>
            <setting name="extractProgramFilename" serializeAs="String">
                <value>C:\Program Files\7-Zip\7z.exe</value>
            </setting>
            <setting name="deleteArchivesOnExtract" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startAutoScriptOnAppStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extractArchivesOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideMainFormOnGameStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="openStatsOnGameStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startAutoScriptOnGameStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="openStatsOnAppStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spreadSheetnameForGoogle" serializeAs="String">
                <value>Completed Fangames</value>
            </setting>
            <setting name="startRowForSheet" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="startColumnForSheet" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="driveSheetInsertOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideStatsOnGameExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showAddCurrentCompletedButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="statsWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Fangame_Helper.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>